body {
    background-color: #EAEAEA;
}

.nav-site {
    color: #EAEAEA;
    background-color: #57864F;
}

.nav-site-photo, .nav-site-photo img {
    border-color: #EAEAEA;
}

.nav-site-photo img:hover {
    box-shadow: 0 0 15px #EAEAEA4D;
}