body {
    margin: 0;
}

a.header {
    font: bold larger 'Courier New', monospace, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

header > nav {
    vertical-align: middle;
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 1em;
}

header > nav > ul > li {
    display: inline-block;
    margin: 0 1.25em 0 0;
}