body {
    margin: 0;
}

a.header {
    border-radius: 0.5em;
    font: bold larger 'Courier New', monospace, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding: 2px 5px;
    text-decoration: none;
}

a.header:hover {
    transition: 0.2s;
}

header {
    border-radius: 0 0 1em 1em;
}

header > nav {
    vertical-align: middle;
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    padding-inline-start: 1em;
}

header > nav > ul > li {
    display: inline-block;
    margin: 0 1.25em 0 0;
}

@media (max-width: 387px) {
    header > nav > ul > li {
        margin: 0 1.25em 0.5em 0;
        
    }
}